.nav {
  display: flex;
  box-shadow: 0 2px 5px;
  align-items: center;
  background-color: rgb(210, 163, 237);
  height: 60px;
  padding: 0 50px;
  justify-content: space-between;
  margin-bottom: 20px;
  }

.link {
  text-decoration: none;
  color: black;
  font-size: 24px;
}

.link:hover {
  text-decoration: underline;

}

.isActive {
  color: #646cff;
}